#header {
  margin-bottom: 30px;
}

#logo {
  padding-left: 10px;
}

.article-content {
  line-height: 25px;
}

#hide {
 margin-bottom: 10px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 5;
}

#form-box {
  margin-top: 50px;
  border: solid 1px #9e9e9e;
}

#textfield {
  border: none;
}


#textarea {
  border: none;
}

#pagination {
  padding-left: 20px;
  font-size: 18px;
}

